*.o
.DS_Store
*_DEBUG.*
src/make.sh
src/payload.elf.bin
src/usb*
libcurl.*
libz.*
libzip.*
hooker.h
BUILD_*_ios
static/iphoneos-arm/iboot32patcher.a
iPwnder32_*
BUILD_*_DEBUG
BUILD_RELEASE
iPwnder32
BUILD_DEBUG
image3/
