*.o
.DS_Store
*_DEBUG.*
src/make.sh
src/payload.elf.bin
src/usb*
libcurl.*
libz.*
libzip.*
hooker.h
BUILD_arm64_ios
iPwnder32_iphoneos_arm64
BUILD_armv7_ios
ipwnder32_iphoneos_arm
static/iphoneos-arm/iboot32patcher.a
iPwnder32_iphoneos-arm64
